<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Name: {{member.myuser.username}}</h1>
    <h2>Number: {{member.mobile_number}}</h2>

    <table style="width:100%">
        <tr>
            <th>Tr. No.</th>
            <th>Date & Time</th>
            <th>Tr. Type</th>
            <th>Issue</th>
            <th>Amount</th>
            <th>Balance</th>

        </tr>
        {% for transaction in transactions %}
            <tr style="text-align:center">
                <td>{{transaction.transaction_no}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.transactiontype}}</td>
                <td>{{transaction.issue}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{member.balance}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>